html, body {
    height: 100%;
    margin: 0%;
    font-family: monospace;

    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

.material-icons-outlined {
    align-self: center;
    color: dodgerblue;
    cursor: default;
}

.material-icons-outlined.md-18 {font-size: 18px;}
.material-icons-outlined.md-24 {font-size: 24px;}
.material-icons-outlined.md-36 {font-size: 36px;}
.material-icons-outlined.md-48 {font-size: 48px;}

.mainHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    background-color: white;
    color: black;
    font-size: 1.25vw;

    position: fixed;
    left: 0;
    right: 0;

    padding: 1.5rem 2rem;
    height: 5vh;
    margin: 0;
}

.headerAnchors {
    display: flex;
}

.headerAnchors a {
    background-color: white;

    transition: background-color 250ms ease-in;

    padding: 1rem;
}

.headerAnchors a:hover {
    background-color: #eee;

    transition: background-color 250ms ease-out;
}

.headerLogo {
    justify-self: flex-start;

    background-color: dodgerblue;
    color: white;

    transition: background-color 250ms ease-in,
                color 250ms ease-in;

    padding: 1rem 1.5rem;
    margin-right: auto;
    border-radius: 10px;
}

.headerLogo:hover {
    background-color: #eee;
    color: black;

    transition: background-color 250ms ease-out,
                color 250ms ease-out;
}

.contents {
    display: flex;
    flex-direction: column;

    background-color: grey;
    font-size: 5vw;
}

.landing {
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 5vw;

    padding: 15vh 20rem;
    height: 70vh;
}

input[type=text]{
    width: 40vw;
    font-size: 1.5vw;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #FF8D1E;
    color: white;
    cursor: pointer;

    transition: background-color 250ms ease-in;

    width: 10vw;
    padding: 1rem;
    font-size: 1.5vw;
    border: 1px solid #FF8D1E;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);

    transition: background-color 250ms ease-out;
}

.sobre {
    display: flex;
    justify-content: space-around;

    background-color: white;

    font-size: 3vw;
    padding: 35vh 10rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h1 {
    font-size: 1.5vw;
    color: black;
}

.info p {
    font-size: 1.25vw;
    color: #555;
}

.mainFooter {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background: linear-gradient(#eee, #ccc);
    font-size: 1.25vw;

    padding: 4rem 7rem;
}

.footerSections {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.section {
    display: flex;
    flex-direction: column;
}

.section p {
    margin: 0;
}

.section a {
    color: #555;
}

.copyright {
    color: #555;
    align-self: center;
}
